# This is just a Test

Plotting the normal below.

In [3]:
import pandas as pd
import numpy as np
n = 100
df = pd.DataFrame()
np.random.seed(1)
df['x1'] = np.random.randn(n)

In [5]:
print(df)

          x1
0   1.624345
1  -0.611756
2  -0.528172
3  -1.072969
4   0.865408
5  -2.301539
6   1.744812
7  -0.761207
8   0.319039
9  -0.249370
10  1.462108
11 -2.060141
12 -0.322417
13 -0.384054
14  1.133769
15 -1.099891
16 -0.172428
17 -0.877858
18  0.042214
19  0.582815
20 -1.100619
21  1.144724
22  0.901591
23  0.502494
24  0.900856
25 -0.683728
26 -0.122890
27 -0.935769
28 -0.267888
29  0.530355
..       ...
70 -1.444114
71 -0.504466
72  0.160037
73  0.876169
74  0.315635
75 -2.022201
76 -0.306204
77  0.827975
78  0.230095
79  0.762011
80 -0.222328
81 -0.200758
82  0.186561
83  0.410052
84  0.198300
85  0.119009
86 -0.670662
87  0.377564
88  0.121821
89  1.129484
90  1.198918
91  0.185156
92 -0.375285
93 -0.638730
94  0.423494
95  0.077340
96 -0.343854
97  0.043597
98 -0.620001
99  0.698032

[100 rows x 1 columns]